In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

## Cleaning Data

In [2]:
# Create path
housing_csv = Path("../Resources/realtor-data.csv")

In [3]:
# Use pandas to read in housing data
housing_df = pd.read_csv(housing_csv)
housing_df

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0
...,...,...,...,...,...,...,...,...,...,...
1104661,for_sale,2.0,2.0,0.06,New York City,New York,11414.0,862.0,2020-05-26,765000.0
1104662,for_sale,3.0,1.0,0.04,Long Beach,New York,11561.0,NaN,2003-12-24,614999.0
1104663,for_sale,5.0,4.0,0.08,Long Beach,New York,11561.0,3312.0,NaN,1035000.0
1104664,for_sale,3.0,3.0,0.14,Rockville Centre,New York,11570.0,2085.0,2021-07-21,899000.0
1104665,for_sale,3.0,3.0,0.18,Garden City,New York,11530.0,NaN,2005-01-25,1450000.0

In [4]:
# Select columns to keep
housing_df_reduced = housing_df[['bed', 'bath', 'acre_lot', 'city', 'state', 'zip_code', 'house_size', 'price']]
housing_df_reduced

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,105000.0
1,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,80000.0
2,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,67000.0
3,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,145000.0
4,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,65000.0
...,...,...,...,...,...,...,...,...
1104661,2.0,2.0,0.06,New York City,New York,11414.0,862.0,765000.0
1104662,3.0,1.0,0.04,Long Beach,New York,11561.0,NaN,614999.0
1104663,5.0,4.0,0.08,Long Beach,New York,11561.0,3312.0,1035000.0
1104664,3.0,3.0,0.14,Rockville Centre,New York,11570.0,2085.0,899000.0
1104665,3.0,3.0,0.18,Garden City,New York,11530.0,NaN,1450000.0

In [5]:
# Drop null values
housing_df_clean = housing_df_reduced.dropna(how='any')
housing_df_clean

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,105000.0
1,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,80000.0
2,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,67000.0
3,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,145000.0
5,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,179000.0
...,...,...,...,...,...,...,...,...
1104658,3.0,3.0,0.23,Massapequa,New York,11758.0,1840.0,890000.0
1104660,4.0,3.0,0.14,East Meadow,New York,11554.0,1597.0,599000.0
1104661,2.0,2.0,0.06,New York City,New York,11414.0,862.0,765000.0
1104663,5.0,4.0,0.08,Long Beach,New York,11561.0,3312.0,1035000.0
1104664,3.0,3.0,0.14,Rockville Centre,New York,11570.0,2085.0,899000.0

In [6]:
# Save the clean df to csv
housing_df_clean.to_csv("../Resources/clean_data.csv")

## Exploring the dataset

In [7]:
# Price, highest to lowest
price_ascending = housing_df_clean.sort_values(["price"], ascending=False)
price_ascending = price_ascending.reset_index(drop=True)
price_ascending

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,6.0,9.0,0.79,New York City,New York,10022.0,8255.0,169000000.0
1,10.0,10.0,60.92,Darien,Connecticut,6820.0,13107.0,100000000.0
2,10.0,10.0,60.92,Darien,Connecticut,6820.0,13107.0,100000000.0
3,10.0,10.0,60.92,Darien,Connecticut,6820.0,13107.0,100000000.0
4,10.0,10.0,60.92,Darien,Connecticut,6820.0,13107.0,100000000.0
...,...,...,...,...,...,...,...,...
488206,2.0,2.0,10.00,Lawrence,New Jersey,8648.0,1500.0,2475.0
488207,2.0,2.0,10.00,Lawrence,New Jersey,8648.0,1500.0,2475.0
488208,2.0,2.0,10.00,Lawrence,New Jersey,8648.0,1500.0,2475.0
488209,5.0,2.0,11.97,Sewell,New Jersey,8080.0,2444.0,500.0
488210,5.0,2.0,11.97,Sewell,New Jersey,8080.0,2444.0,500.0

In [8]:
# acre_lot, highest to lowest 
acre_ascending = housing_df_clean.sort_values(["acre_lot"], ascending=False)
acre_ascending = acre_ascending.reset_index(drop=True)
acre_ascending

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
1,4.0,4.0,100000.0,San Juan,Puerto Rico,926.0,3300.0,585000.0
2,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
3,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
4,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
...,...,...,...,...,...,...,...,...
488206,2.0,2.0,0.0,Tewksbury,Massachusetts,1876.0,1240.0,419000.0
488207,3.0,3.0,0.0,Brooklyn,New York,11236.0,1157.0,739000.0
488208,2.0,2.0,0.0,Tewksbury,Massachusetts,1876.0,1026.0,379900.0
488209,2.0,2.0,0.0,Tewksbury,Massachusetts,1876.0,1469.0,379900.0
488210,2.0,1.0,0.0,Edison,New Jersey,8837.0,958.0,279900.0

In [9]:
# house_size, highest to lowest
house_size_ascending = housing_df_clean.sort_values(["house_size"], ascending=False)
house_size_ascending = house_size_ascending.reset_index(drop=True)
house_size_ascending

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,5.0,6.0,33.29,Culebra,Puerto Rico,775.0,1450112.0,8250000.0
1,6.0,3.0,0.10,Linden,New Jersey,7036.0,400149.0,489999.0
2,6.0,3.0,0.10,Linden,New Jersey,7036.0,400149.0,489999.0
3,1.0,1.0,2.80,Port Chester,New York,10573.0,112714.0,69999.0
4,1.0,1.0,2.80,Port Chester,New York,10573.0,112714.0,69999.0
...,...,...,...,...,...,...,...,...
488206,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0
488207,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0
488208,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0
488209,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0
488210,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0

In [10]:
# Find unique states
unique = housing_df_clean['state'].unique()
unique

array(['Puerto Rico', 'Virgin Islands', 'Massachusetts', 'Connecticut',
       'New Jersey', 'New York', 'New Hampshire', 'Vermont',
       'Rhode Island', 'Wyoming', 'Maine', 'Pennsylvania',
       'West Virginia', 'Delaware'], dtype=object)

In [11]:
# Find value counts of each state
count = housing_df_clean['state'].value_counts()
count

New York          110729
Massachusetts     103770
New Jersey         75932
Connecticut        73060
Rhode Island       24620
New Hampshire      24454
Maine              23010
Vermont            22205
Puerto Rico        15390
Pennsylvania       12984
Delaware            1707
Virgin Islands       342
West Virginia          5
Wyoming                3
Name: state, dtype: int64

Because the price of homes are heavily dependent on location, we are chosing to focus on the state of New York.  This will make the relationship between the house features and price more comparable for analysis.

## More Cleaning

In [12]:
value_NY = 'New York'
filtered_df = housing_df_clean[housing_df_clean['state'] == value_NY]
filtered_df

,bed,bath,acre_lot,city,state,zip_code,house_size,price
30149,3.0,1.0,60.00,Berlin,New York,12022.0,1176.0,175000.0
54248,3.0,2.0,2.02,Claverack,New York,12521.0,1600.0,425000.0
54258,4.0,2.0,0.24,Copake,New York,12521.0,1239.0,225000.0
54259,3.0,3.0,1.90,Copake,New York,12516.0,1800.0,419000.0
54262,3.0,2.0,2.00,Copake,New York,12517.0,1482.0,365000.0
...,...,...,...,...,...,...,...,...
1104658,3.0,3.0,0.23,Massapequa,New York,11758.0,1840.0,890000.0
1104660,4.0,3.0,0.14,East Meadow,New York,11554.0,1597.0,599000.0
1104661,2.0,2.0,0.06,New York City,New York,11414.0,862.0,765000.0
1104663,5.0,4.0,0.08,Long Beach,New York,11561.0,3312.0,1035000.0
1104664,3.0,3.0,0.14,Rockville Centre,New York,11570.0,2085.0,899000.0

In [13]:
# Find number of unique cities in New York
unique_ny = housing_df_clean['city'].nunique()
unique_ny

2373

In [14]:
# Find value counts of cities in New York
count_ny = filtered_df['city'].value_counts()
count_ny

New York City     10155
Brooklyn           9575
Bronx              8353
Staten Island      7224
Yonkers            2485
                  ...
North Hudson          1
Staatsburg            1
Riverhead             1
Mongaup Valley        1
Centre Island         1
Name: city, Length: 531, dtype: int64

In [15]:
# Save the clean df to csv
filtered_df.to_csv("../Resources/ny_data.csv")

## More Exploring

In [16]:
# house_size, highest to lowest
ny_price = filtered_df.sort_values(["price"], ascending=False)
ny_price = ny_price.reset_index(drop=True)
ny_price

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,6.0,9.0,0.79,New York City,New York,10022.0,8255.0,169000000.0
1,8.0,10.0,0.05,New York City,New York,10023.0,12000.0,65000000.0
2,8.0,10.0,0.05,New York City,New York,10023.0,12000.0,65000000.0
3,8.0,10.0,0.05,New York City,New York,10023.0,12000.0,65000000.0
4,8.0,10.0,0.05,New York City,New York,10023.0,12000.0,65000000.0
...,...,...,...,...,...,...,...,...
110724,3.0,1.0,0.40,Ticonderoga,New York,12883.0,1584.0,20000.0
110725,3.0,1.0,0.40,Ticonderoga,New York,12883.0,1584.0,20000.0
110726,3.0,1.0,0.40,Ticonderoga,New York,12883.0,1584.0,20000.0
110727,3.0,1.0,0.40,Ticonderoga,New York,12883.0,1584.0,20000.0
110728,3.0,1.0,0.40,Ticonderoga,New York,12883.0,1584.0,20000.0

In [17]:
# acre_lot, highest to lowest 
ny_acre = filtered_df.sort_values(["acre_lot"], ascending=False)
ny_acre = ny_acre.reset_index(drop=True)
ny_acre

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
1,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
2,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
3,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
4,2.0,1.0,100000.0,Whitehall,New York,12887.0,1352.0,129000.0
...,...,...,...,...,...,...,...,...
110724,3.0,4.0,0.0,Cortlandt Manor,New York,10567.0,3100.0,729000.0
110725,3.0,3.0,0.0,Brooklyn,New York,11236.0,1157.0,739000.0
110726,6.0,3.0,0.0,Jamaica,New York,11433.0,2550.0,980000.0
110727,3.0,4.0,0.0,Cortlandt Manor,New York,10567.0,3100.0,729000.0
110728,3.0,4.0,0.0,Cortlandt Manor,New York,10567.0,3100.0,729000.0

In [18]:
# house_size, highest to lowest 
ny_size = filtered_df.sort_values(["house_size"], ascending=False)
ny_size = ny_size.reset_index(drop=True)
ny_size

,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,1.0,1.0,2.80,Port Chester,New York,10573.0,112714.0,69999.0
1,1.0,1.0,2.80,Port Chester,New York,10573.0,112714.0,69999.0
2,1.0,1.0,2.80,Port Chester,New York,10573.0,112714.0,69999.0
3,1.0,1.0,2.80,Port Chester,New York,10573.0,112714.0,69999.0
4,1.0,1.0,2.80,Port Chester,New York,10573.0,112714.0,69999.0
...,...,...,...,...,...,...,...,...
110724,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0
110725,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0
110726,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0
110727,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0
110728,3.0,4.0,0.03,Staten Island,New York,10304.0,122.0,568888.0

## Even More Cleaning

In [39]:
# Reduce dataframe to homes with less than 5 bedrooms and 5 bathrooms
cleanest_data = filtered_df[(filtered_df['bed'] < 5) & (filtered_df['bath'] < 5)]
cleanest_data

,bed,bath,acre_lot,city,state,zip_code,house_size,price
30149,3.0,1.0,60.00,Berlin,New York,12022.0,1176.0,175000.0
54248,3.0,2.0,2.02,Claverack,New York,12521.0,1600.0,425000.0
54258,4.0,2.0,0.24,Copake,New York,12521.0,1239.0,225000.0
54259,3.0,3.0,1.90,Copake,New York,12516.0,1800.0,419000.0
54262,3.0,2.0,2.00,Copake,New York,12517.0,1482.0,365000.0
...,...,...,...,...,...,...,...,...
1104657,3.0,2.0,0.17,Rockville Centre,New York,11570.0,1583.0,739000.0
1104658,3.0,3.0,0.23,Massapequa,New York,11758.0,1840.0,890000.0
1104660,4.0,3.0,0.14,East Meadow,New York,11554.0,1597.0,599000.0
1104661,2.0,2.0,0.06,New York City,New York,11414.0,862.0,765000.0
1104664,3.0,3.0,0.14,Rockville Centre,New York,11570.0,2085.0,899000.0

In [ ]:
# Save the clean df to csv
cleanest_data.to_csv("../Resources/ny_data_cleanest.csv")