In [2]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [8]:
# Create Path
df_path = Path('../Resources/ny_data.csv')

In [9]:
# Read in csv
df = pd.read_csv(df_path)
df

,Unnamed: 0,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,30149,3.0,1.0,60.00,Berlin,New York,12022.0,1176.0,175000.0
1,54248,3.0,2.0,2.02,Claverack,New York,12521.0,1600.0,425000.0
2,54258,4.0,2.0,0.24,Copake,New York,12521.0,1239.0,225000.0
3,54259,3.0,3.0,1.90,Copake,New York,12516.0,1800.0,419000.0
4,54262,3.0,2.0,2.00,Copake,New York,12517.0,1482.0,365000.0
...,...,...,...,...,...,...,...,...,...
110724,1104658,3.0,3.0,0.23,Massapequa,New York,11758.0,1840.0,890000.0
110725,1104660,4.0,3.0,0.14,East Meadow,New York,11554.0,1597.0,599000.0
110726,1104661,2.0,2.0,0.06,New York City,New York,11414.0,862.0,765000.0
110727,1104663,5.0,4.0,0.08,Long Beach,New York,11561.0,3312.0,1035000.0
110728,1104664,3.0,3.0,0.14,Rockville Centre,New York,11570.0,2085.0,899000.0