In [2]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [5]:
# Create Path
df_path = Path('../Resources/clean_data.csv')

In [7]:
# Read in csv
df = pd.read_csv(df_path)
df

,Unnamed: 0,bed,bath,acre_lot,city,state,zip_code,house_size,price
0,0,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,105000.0
1,1,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,80000.0
2,2,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,67000.0
3,3,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,145000.0
4,5,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,179000.0
...,...,...,...,...,...,...,...,...,...
488206,1104658,3.0,3.0,0.23,Massapequa,New York,11758.0,1840.0,890000.0
488207,1104660,4.0,3.0,0.14,East Meadow,New York,11554.0,1597.0,599000.0
488208,1104661,2.0,2.0,0.06,New York City,New York,11414.0,862.0,765000.0
488209,1104663,5.0,4.0,0.08,Long Beach,New York,11561.0,3312.0,1035000.0
488210,1104664,3.0,3.0,0.14,Rockville Centre,New York,11570.0,2085.0,899000.0